# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.3.1
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.3.1/caesium-image-compressor-2.3.1-win-setup.exe
SHA256  : E595C15E5FE1EC7311FFCC3E8164F200ECE024778D2B83B36C1709327C9E4B53

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
