# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The extension can be downloaded from the GitHub releases page:
- https://github.com/Lymphatus/caesium-image-compressor/releases

or directly:
Version : 2.0.0
URL     : https://github.com/Lymphatus/caesium-image-compressor/releases/download/v2.0.0/caesium-image-compressor-2.0.0-win-setup.exe
SHA256  : 90232a4b6a9f15589d1f4c5c46bfa8c2278524e970ec214cbef74df5cf4c9d73

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'


## License
File 'LICENSE.txt' is obtained from:
- https://github.com/Lymphatus/caesium-image-compressor/blob/main/LICENSE
